#performer-page .full-width .detail-item {
    display: inline-flex !important;
}

#performer-page .detail-group {
    display: grid;
    
    @media (min-width: 1080px) {
        grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: 1360px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media (min-width: 1620px) {
        grid-template-columns: repeat(4, 1fr);
    }
    .detail-item.tags, .detail-item.stash-ids {
        grid-column: 1 / -1;
    }
}